{% extends 'base_with_nav.html.twig' %}

{% block title %}Decks{% endblock %}

{% block body %}
    <h1>Decks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deck in decks %}
            <tr>
                <td>{{ deck.name }}</td>
                <td>
                    <a href="{{ path('deck_show', {'id': deck.id}) }}">Show</a>
                    <a href="{{ path('deck_edit', {'id': deck.id}) }}">Edit</a>
                    <form action="{{ path('deck_delete', {'id': deck.id}) }}" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        {{ csrf_token('delete'~deck.id) }}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No decks found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deck_new') }}">Create new Deck</a>
{% endblock %}
