{% extends 'base_with_nav.html.twig' %}

{% block title %}New Flashcard{% endblock %}

{% block body %}
    <h1>Create New Flashcard</h1>

    {{ form_start(form) }}
        {{ form_row(form.front) }}
        {{ form_row(form.back) }}
        <button type="submit">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('flashcard_index') }}">Back to list</a>
{% endblock %}
